pkgbase = kakmerge-git
	pkgdesc = Merge tool for Git using kakoune
	pkgver = 18.580c832
	pkgrel = 1
	url = http://github.com/lenormf/kakmerge
	arch = any
	license = custom:unlicense
	makedepends = git
	depends = bash
	optdepends = kitty: multiplexer
	optdepends = tmux: multiplexer
	provides = kakmerge
	conflicts = kakmerge
	source = git+https://github.com/lenormf/kakmerge.git
	sha256sums = SKIP

pkgname = kakmerge-git

