pkgbase = prettier
	pkgdesc = An opinionated code formatter for JavScript, ES2017, JSX, Flow, TypeScript, JSON, CSS, LESS, SCSS, GraphQL, Markdown, YAML
	pkgver = 1.14.0
	pkgrel = 1
	url = https://prettier.io/
	arch = any
	license = MIT
	makedepends = yarn
	depends = nodejs
	source = https://github.com/prettier/prettier/archive/1.14.0.tar.gz
	sha256sums = ac3f10aa6fefc312674cea2d71ba67621adeed458d8902b8c1a18256c43b252c

pkgname = prettier

