pkgbase = browserpass
	pkgdesc = Browser extension for zx2c4's pass (password manager)
	pkgver = 3.0.4
	pkgrel = 1
	url = https://github.com/browserpass/browserpass-native
	arch = x86_64
	license = ISC
	makedepends = go-pie
	makedepends = git
	depends = gnupg
	source = browserpass-3.0.4.tar.gz::https://github.com/browserpass/browserpass-native/archive/3.0.4.tar.gz
	source = browserpass-3.0.4.tar.gz.sig::https://github.com/browserpass/browserpass-native/releases/download/3.0.4/browserpass-native-3.0.4.tar.gz.sig
	validpgpkeys = EB4F9E5A60D32232BB52150C12C87A28FEAC6B20
	sha256sums = a195dfa271762db26ac32a1e33bcfdc803352b9c905685e7b819a7dad1ad2114
	sha256sums = SKIP

pkgname = browserpass

