pkgbase = connman_dmenu-git
	pkgdesc = dmenu wrapper for connmanctl
	pkgver = 65.68f6db3
	pkgrel = 1
	url = http://github.com/maximbaz/connman_dmenu
	arch = any
	license = GPL2
	makedepends = git
	depends = bash
	depends = connman
	depends = dmenu
	provides = connman_dmenu
	conflicts = connman_dmenu
	source = git+https://github.com/maximbaz/connman_dmenu.git
	sha256sums = SKIP

pkgname = connman_dmenu-git

